# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2.1

jobs:
  build:
    working_directory: ~/workspace
    docker:
      - image: node:12.1
    steps:
      - checkout
      - restore_cache:
          key: package-lock-json-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build
          command: npm run build
      - save_cache:
          key: package-lock-json-{{ checksum "package-lock.json" }}
          paths:
            - ~/workspace
      - persist_to_workspace:
          root: .
          paths:
            - .
  lint:
    working_directory: ~/workspace
    docker:
      - image: node:12.1
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: npm run eslint

workflows:
  Build:
    jobs:
      - build
      - lint
